table {
  width: 30%;
  color: #00ff37;
  background-color: #172771;
  border: 4px solid;
  border-color: blueviolet;
  text-align: center;
}

.button {
  background-color: rgb(167, 227, 13);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(66, 209, 0);
  color: rgb(235, 9, 9);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
